{% extends "clutter/base.html" %}

{% block title %}
  Potential Products
{% endblock %}

{% block body %}
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Sku</th>
      <th scope="col">Unit Cost</th>
      <th scope="col">Average Fee</th>
      <th scope="col">RRP</th>
      <th scope="col">Shipping</th>
      <th scope="col">Supplier</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row"><a href="{% url 'product' product.id %}">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.sku }}</td>
      <td>{{ product.unit_cost }}</td>
      <td>{{ product.average_fee }}</td>
      <td>{{ product.rrp }}</td>
      <td>{{ product.shipping_fee}}</td>
      <td>{{ product.agent.company}}</td>
    </tr>
    <tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block footer %}
  Amazon Clutter - Keeping Track
{% endblock %}
