{% extends "clutter/base.html" %}
{% load static %}
{% block body %}


<tr>
  <th scope="row">
    <div class="row">
        <div class="col-lg-6">
            <div class="card m-b-30">
                <div class="card-body">


                    <h4 class="mt-0 header-title">Suppliers</h4>
                    <p class="text-muted m-b-30 font-14">
                        Black Book of Suppliers.
                    </p>

                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            {% for supplier in suppliers %}
                            <tbody>
                                <tr>
                                    <th scope="row"><a href="{% url 'supplier' supplier.id %}">{{ supplier.id }}</th>
                                    <td>{{ supplier.company }}</td>
                                    <td>{{ supplier.contact }}</td>
                                    <td>{{ supplier.email}}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->

{% endblock %}
